Senior Software Engineer (& Tech Lead) @ <a href=https://www.zendesk.com/>zendesk</a> 
<br/>
<div style="display:flex">
    <div style="flex:35%">
        <ul>
            <li><a href=https://photos.eoinfarrell.dev/>photos.eoinfarrell.dev</a></li>
            <li><a href=https://cv.eoinfarrell.dev/>cv.eoinfarrell.dev</a></li>
        </ul>
    </div>
    <div style="flex:65%">
        <ul>
            <li><a href=https://f1-reminders.eoinfarrell.dev/>f1-reminders.eoinfarrell.dev</a></li>
            <li><a href=https://myimages.eoinfarrell.dev/>myimages.eoinfarrell.dev</a></li>
        </ul>
    </div>
</div>
