doctype html
html(lang="pl")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="css/bootstrap/bootstrap-theme.css")
        link(rel="icon" href="favicon.ico")
    body
        .container-fluid

            nav.navbar.navbar-light.justify-content-center
                a.navbar-brand.mr-0(href="#") Home


            section.py-5
                .container
                    article.row
                        nav.col-sm-3
                            ul.list-inline
                                li #[a.text-dark(href="#") PiperNet]
                                li
                                    ul.list-inline.ml-3
                                        li #[a.text-primary(href="#") Features]
                                        li #[a.text-dark(href="#") Enterprise]
                                        li #[a.text-dark(href="#") Support]
                                li #[a.text-dark(href="#") ICO]
                                li #[a.text-dark(href="#") Tokens]
                                li #[a.text-dark(href="#") Whitepaper]
                                li #[a.text-dark(href="#") Download]
                                li #[a.text-dark(href="#") About]

                        .col-sm-9
                            h1.mb-4#name

                            h3.mb-3 An exhaustive guide about how different teas can affect a CEO during their workday.
                            p Today's user wants access to all their files, from all of their devices, instantly. That's why cloud-based is the Holy Grail. Now Dropbox is winning. But when it comes to audio and video files, they might as well be called Dripbox.

                            h3.mb-3 An exhaustive guide about how different teas can affect a CEO during their workday.
                            p Today's user wants access to all their files, from all of their devices, instantly. That's why cloud-based is the Holy Grail. Now Dropbox is winning. But when it comes to audio and video files, they might as well be called Dripbox.
                            p Today's user wants access to all their files, from all of their devices, instantly. That's why cloud-based is the Holy Grail. Now Dropbox is winning. But when it comes to audio and video files, they might as well be called Dripbox.

            section.py-5
                .container
                    .table-responsive
                        table.table.table-striped.text-center
                            thead
                                tr
                                    th.border-top-0.w-100.text-left
                                    th.border-top-0 PiperNet
                                    th.border-top-0 Internet
                            tbody
                                tr
                                    td.text-left Security
                                    td #[img(src="placeholder/icons/check.svg", alt="Contains")]
                                    td #[img(src="placeholder/icons/close.svg", alt="Do not contain")]
                                tr
                                    td.text-left Privacy
                                    td #[img(src="placeholder/icons/check.svg", alt="Contains")]
                                    td #[img(src="placeholder/icons/close.svg", alt="Do not contain")]
                                tr
                                    td.text-left Speed
                                    td #[img(src="placeholder/icons/check.svg", alt="Contains")]
                                    td #[img(src="placeholder/icons/close.svg", alt="Do not contain")]
                                tr
                                    td.text-left Decentralization
                                    td #[img(src="placeholder/icons/check.svg", alt="Contains")]
                                    td #[img(src="placeholder/icons/close.svg", alt="Do not contain")]
                                tr
                                    td.text-left Infrastructureless
                                    td #[img(src="placeholder/icons/check.svg", alt="Contains")]
                                    td #[img(src="placeholder/icons/close.svg", alt="Do not contain")]
                                tr
                                    td.text-left Free storage
                                    td #[img(src="placeholder/icons/check.svg", alt="Contains")]
                                    td #[img(src="placeholder/icons/close.svg", alt="Do not contain")]



            section.py-5
                .container
                    .row
                        .col-lg-8.mx-auto
                            .media-list
                                .media.py-3.border-bottom
                                    img.rounded-circle.mr-4(src="https://bootstrapshuffle.com/placeholder/pictures/bg_circle.svg?primary=007bff", width="60", height="60", alt="")
                                    .media-body
                                        small
                                            strong Dinesh Chugtai
                                            span.small.ml-3 5 min ago
                                        p.small Why I'm the Best Programmer Ever I feel like not everybody outside of Pied Piper knows it, so I wanted to make it clear why I'm the best programmer in the world.
                                .media.py-3.border-bottom
                                    img.rounded-circle.mr-4(src="https://bootstrapshuffle.com/placeholder/pictures/bg_circle.svg?primary=007bff", width="60", height="60", alt="")
                                    .media-body
                                        small
                                            strong Bertram Gilfoyle
                                            span.small.ml-3 47 min ago
                                        p.small What makes decentralization so great? Let me enlighten you with my wisdom.
                                .media.py-3.border-bottom
                                    img.rounded-circle.mr-4(src="https://bootstrapshuffle.com/placeholder/pictures/bg_circle.svg?primary=007bff", width="60", height="60", alt="")
                                    .media-body
                                        small
                                            strong Monica Hall
                                            span.small.ml-3 3 days ago
                                        p.small This is a short story about how we uncovered an insane problem with our ICO, fixed it, and still managed to secure vast funding.
                                .media.py-3.border-bottom
                                    img.rounded-circle.mr-4(src="https://bootstrapshuffle.com/placeholder/pictures/bg_circle.svg?primary=007bff", width="60", height="60", alt="")
                                    .media-body
                                        small
                                            strong Jared Dunn
                                            span.small.ml-3 2 weeks ago
                                        p.small An exhaustive guide about how different teas can affect a CEO during their workday

            section.py-5
                .container.text-center
                    a(href="#")
                        img(src="https://bootstrapshuffle.com/placeholder/pictures/bg_square.svg?primary=007bff", height="100", alt="")
                    h2.my-4 Learn more about PiperNet
                    p Our mission is not to outsell Hooli with a product like their latest Box 3. We are not in it for the money - we are in it to make the whole world decentralized. To give you control over your data. To change by the internet as we know it by integrating a very important feature into it - freedom.

            section.py-5
                .container
                    article.row
                        .col-lg-8.mx-auto
                            h2.mb-4 Interests
                            p From the first "Lo" sent via the very first Internet connection to the big shark as Hooli grazing on our personal data, internet evolved from the greatest hope for freedom to the biggest source of invisible power. We are here to change it.
                            ul.pl-0.list-inline
                                li 1. Own your data
                                li 2. Protect your data
                                li 3. Share your data
                                li 4. and become a Pioneer

        script(src="js/jquery/jquery.min.js")
        script(src="js/popper/popper.min.js")
        script(src="js/bootstrap/bootstrap.min.js")
        script(src="js/cv.js")