doctype html
html(lang="pl")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="css/bootstrap/bootstrap-theme.css")
        link(rel="icon" href="favicon.ico")
    body
        .container-fluid

            section.py-5
                .container
                    .row
                        .col-md-4.mb-4
                            h2 EoinFarrell.dev
                            p.mb-5 Here you'll find links to anything I work on in my spare time; well hopefully, I've just created this site so lets see how it goes.
                            a(href="#") Button to no where
                                img.m-2(src="placeholder/icons/play-circle-o.svg", alt="")
                        .col-md-8
                            .card-deck
                                .card
                                    a(href="https://github.com/EoinFarrell")
                                        img.card-img-top(src="images/Octocat(2).png", alt="")
                                    .card-body
                                        h5.card-title.my-2 GitHub
                                        p.small.card-text View the code running this site...and not much more
                                .card
                                    a(href="https://www.linkedin.com/in/eoinfarrell/")
                                        img.card-img-top(src="images/In-2C-128px-R.png", alt="")
                                    .card-body
                                        h5.card-title.my-2 LinkedIn
                                        p.small.card-text View my work histroy as I try to frame it all in the best light
                                .card
                                    a(href="cv.html")
                                        img.card-img-top(src="images/imageedit_11_8777571391.png", alt="")
                                    .card-body
                                        h5.card-title.my-2 CV
                                        p.small.card-text Offline LinkedIn

            section.py-5
                .container.text-center
                    .d-flex.align-items-center.flex-column
                        h5 
                        h2.mt-4.mb-3 EoinFarrell.dev Architecture Overview
                        p.px-lg-5.mb-5 To find out the how this site works click the button below. Details include K8, HA, Nginx, AWS, AZURE, Chaos Monkey, etc  (well it will one day and the button below won't be a link to the app store.
                        a(href="#").btn.btn-primary.d-flex.mb-3
                            img.mr-2.img-fluid(src="placeholder/icons/apple.svg", alt="")
                            .d-flex.flex-column.text-white
                                small.m-0 Download on the
                                span.m-0.font-weight-bold Apple Store
                        p.text-muted Requires iOS 10 or higher

        script(src="js/jquery/jquery.min.js")
        script(src="js/popper/popper.min.js")
        script(src="js/bootstrap/bootstrap.min.js")